# Ignore everything
/*
/*/
.*

# Whitelist git files
!.gitignore
!.github/

# Whitelist source files and documentation
!README.md
!LICENSE
!*.md

# Whitelist python source files
!python/
!python/*.py

# Whitelist scala source files
!scala/
!scala/*.scala
